<div class="row">
  <div class="col-xs-9" id="main-view">
    <div class="col-xs-12 col-md-10 col-md-offset-1 box-finish">
      <div class="row">
        <form [formGroup]="blogForm" class="col s12" novalidate>
          <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" formControlName="title">
              <label for="title">Title</label>
            </div>
          </div>
          <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder="Body" id="body" class="materialize-textarea" formControlName="body"></textarea>
                  <label for="body">Body</label>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="switch-box col-xs-12">
              <div class="switch pull-left">
                <label>
                  QA
                  <input type="checkbox" id="Group1">
                  <span (click)="onToggle('QA')" class="lever"></span>

                </label>
              </div>
              <div class="switch pull-left">
                <label>
                  Dev
                  <input type="checkbox">
                  <span (click)="onToggle('Dev')" class="lever"></span>

                </label>
              </div>
              <div class="switch pull-left">
                <label>
                  Admin
                  <input type="checkbox">
                  <span (click)="onToggle('Admin')" class="lever"></span>

                </label>
              </div>
              <div [ngClass]="{'disabled': groups.length > 0, 'clicked': teamBlast}" type="button" (click)="onToggle('Team Blast')" class="btn waves-light waves-effect">Team Blast</div>

            </div>
          </div>
          <div class="row">
          <div class="interact-buttons-container col-xs-12">
          <div type="submit" [ngClass]="{'disabled': !blogForm.valid}" (click)="onPost()" class="btn waves-light waves-effect">Post</div>
          <div type="button" (click)="onSave()" class="btn waves-light waves-effect">Save Draft</div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
