.box-finish {
  border: 3px solid lightgrey;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  padding: 3%;
  background-color: white;
  margin-top: 5%;
}
#main-view {
  background-color: steelblue;
  height: 100vh;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.clicked {
  background-color: lime;
  border-color: black;
}
.switch-box {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.interact-buttons-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}
