  <div class="col-xs-12 col-md-3" id="side-bar">
    <div class="row">
      <div *ngIf="currentUser">
      <div id="profile-holder">
        <div class="col-xs-6 user-avatar">
        <img src="{{currentUser.avatar}}" alt="{{currentUser.userName}}" class="circle img-responsive">

      </div>
        <div class="col-xs-12">
          <p class="user-title">Welcome {{currentUser.userName}}</p>
        </div>
      </div>
      </div>
    </div>

    <div *ngIf="yourPosts && teamPosts">
    <ul materialize="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Your Posts
        </div>
        <div class="collapsible-body">
          <ul class="collection" *ngFor="let post of yourPosts.messages;">
              <li class="collection-item avatar" (click)="outerOpenModal(currentUser.avatar, post, '')">
                <div style="display:inline-block;">
                  <img src="{{currentUser.avatar}}" alt="{{currentUser.displayName}}" class="circle">
                  <p>{{currentUser.displayName}}</p>
                  <div class="col-xs-10">
                    <span class="title">{{post.title}}</span>
                    <p>{{post.body | truncateSidebar}}
                    </p>
                  </div>
                </div>

              </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Team Blast Posts
          <span class="new badge" *ngIf="unreadTeamBlastsNumber !== 0;">{{unreadTeamBlastsNumber}}</span>
        </div>

        <div class="collapsible-body">
          <ul class="collection" *ngFor="let message of teamBlastPosts;">
            <li class="collection-item avatar" (click)="outerOpenModal(currentUser.avatar, message, '')">
              <div style="display:inline-block;">
                <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
                <p>{{message.user}}</p>
                <div class="col-xs-12">
                  <span class="title">{{message.title}}</span>
                  <!--<p>{{message.body | truncateSidebar}}-->
                  <!--</p>-->
                </div>
              </div>

            </li>
          </ul>


        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Team Member Posts
          <span class="new badge" *ngIf="unreadTeamNumber !== 0;">{{unreadTeamNumber}}</span>
        </div>

        <div class="collapsible-body">
          <ul materialize="collapsible" data-collapsible="accordion">

            <li *ngFor="let user of teamPosts;">
              <div class="collapsible-header">
                {{user.userName}}
                <span class="new badge" *ngIf="unreadIndividualBadgeNumbers && unreadIndividualBadgeNumbers[user.userName] !== 0;">{{unreadIndividualBadgeNumbers[user.userName]}}</span>
              </div>
              <ng-template #nomessages>
                <div class="collapsible-body">
                  <ul class="collection">
                    <li class="collection-item">
                      <p>No Messages Currently</p>

                    </li>
                  </ul>

                </div>
              </ng-template>
              <div class="collapsible-body" *ngIf="user.messages.length > 0; else nomessages">
                <ul class="collection" *ngFor="let message of user.messages;">
                  <li class="collection-item avatar" (click)="outerOpenModal(currentUser.avatar, message, '')">
                    <div style="display:inline-block;">
                      <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
                      <p>{{message.user}}</p>
                      <div class="col-xs-12">
                        <span class="title">{{message.title}}</span>
                        <!--<p>{{message.body | truncateSidebar}}-->
                        <!--</p>-->
                      </div>
                    </div>

                  </li>
                </ul>

              </div>
            </li>
          </ul>



        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Groups Posts

          <span class="new badge" *ngIf="unreadGroupNumber !== 0;">{{unreadGroupNumber}}</span>
        </div>

        <div class="collapsible-body">
          <ul materialize="collapsible" data-collapsible="accordion">

          <li *ngFor="let group of groupPosts;">
        <div class="collapsible-header">
          {{group.groupName}}
          <span class="new badge">{{group.messages.length}}</span>
        </div>

        <div class="collapsible-body">
          <ul class="collection" *ngFor="let message of group.messages;">
            <li class="collection-item avatar" (click)="outerOpenModal(currentUser.avatar, message, '')">
              <div style="display:inline-block;">
                <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
                <p>{{message.user}}</p>
                <div class="col-xs-12">
                  <span class="title">{{message.title}}</span>
                  <!--<p>{{message.body | truncateSidebar}}-->
                  <!--</p>-->
                </div>
              </div>

            </li>
          </ul>

        </div>
      </li>
          </ul>

        </div>
      </li>
    </ul>
    </div>

