  <div class="col-xs-12 col-md-3" id="side-bar">
    <div class="row">
      <div id="profile-holder">
        <img src="" alt="">
        <p>Your Github Name</p>
      </div>
    </div>
    <ul materialize="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Your Posts
          <span class="new badge">4</span>
        </div>
        <a routerLink="yourposts">View All</a>

        <div class="collapsible-body">
          <!--ng for with links here/-->
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Team Member Posts
          <span class="new badge">4</span>
        </div>
        <a routerLink="teamposts">View All</a>

        <div class="collapsible-body">

          <!--ng for with links here/-->

        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Groups Posts
          <span class="new badge">4</span>
        </div>
        <a routerLink="groupposts">View All</a>

        <div class="collapsible-body">

          <!--ng for with links here/-->

        </div>
      </li>
    </ul>
  </div>
