li {
  border:1px solid lightgrey;
  padding:3%;
  background-color: white;
}
i {
  color: black;
}
img {
  width:35px;
  height:auto;
}
#main-screen {
  background-color: steelblue;
  height: 100vh;
  overflow: auto;
}
.likes {
  color: lightblue;
}
#modal1 {
  padding: 5%;
}
.post-button {
  margin-top: 5%;
}
