<div class="col-xs-9" id="main-screen">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <div routerLink="create" class="btn waves-effect waves-light pull-right post-button"><i class="large material-icons">add</i>Create New Post</div>
    </div>
  </div>

  <h2 style="text-align: center;">Most Recent Unread Posts</h2>
  <h3 style="text-decoration: underline">Team Members</h3>
  <div *ngIf="currentTeam && groupMessages">
    <div *ngFor="let person of currentTeam;">
    <h5 style="font-style: italic">{{person.userName}}</h5>
    <ul class="collection">
    <div *ngFor="let post of person.messages;">
  <li class="collection-item avatar" (click)="outerOpenModal(person, post)">
    <div style="display:inline-block;">
    <img src="{{person.avatar}}" alt="{{person.displayName}}" class="circle">
      <div>
    <span class="title">{{post.title}}</span>
      <p>{{post.body}}
    </p>
      </div>
    </div>
    <a href="#!"><i class="small material-icons">fiber_new</i></a>
  </li>
    </div>
  </ul>
    </div>
  <h3 style="text-decoration: underline">Groups</h3>
  <div *ngFor="let group of groupMessages;">
    <h5 style="font-style: italic">{{group.groupName}}</h5>
    <ul class="collection" >
    <div *ngFor="let message of group.messages">
    <li class="collection-item avatar" (click)="outerOpenModal(group, message)">
    <div style="display:inline-block;">
      <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
      <span class="title">{{message.title}}</span>
      <span class="title">{{message.user}}</span>
      <p>{{message.body}}
      </p>
    </div>
    <a href="#!"><i class="small material-icons">fiber_new</i></a>
  </li>
    </div>
</ul>
  </div>
  </div>



</div>
<div *ngIf="modalStatus">
<app-modal-markdown (currentlySelectedPost)="currentlySelectedPost"></app-modal-markdown>
</div>

