<div class="col-xs-9" id="main-screen" *ngIf="currentUser['userName']">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <div routerLink="create" class="btn waves-effect waves-light pull-right post-button"><i class="large material-icons">add</i>Create New Post</div>
    </div>
  </div>


  <h2 style="text-align: center;">Most Recent Unread Posts</h2>
  <div  *ngIf="teamMessages && teamMessages.length !== 0;">
  <h3 style="text-decoration: underline">Team Blasts</h3>
    <ul class="collection">
      <div *ngFor="let message of teamMessages;">
        <li class="collection-item avatar" (click)="outerOpenModal('Group', message, {type: 'Team Blast', name: ''})">
          <div style="display:inline-block;">
            <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
            <span class="title">{{message.title}}</span>
            <span class="title">{{message.user}}</span>
            <p>{{message.body}}
            </p>
          </div>
          <i class="small material-icons" (click)="markAsRead(message.fid, currentUser.userName, message.user, message.viewedBy, 'Team Blast', currentUser.avatar_url)">fiber_new</i>
        </li>
      </div>
    </ul>
  </div>
  <div class="buffer" *ngIf="currentTeam && groupMessages">
    <h3 style="text-decoration: underline" *ngIf="currentTeamHasNewMessages">Team Members</h3>
    <div *ngFor="let person of currentTeam;" >
    <h5 style="font-style: italic" *ngIf="person.messages.length !== 0;">{{person.userName}}</h5>
    <ul class="collection" *ngIf="person.messages.length !== 0;">
    <div *ngFor="let post of person.messages;">
  <li class="collection-item avatar" (click)="outerOpenModal(person, post, '')">
    <div style="display:inline-block;">
    <img src="{{person.avatar}}" alt="{{person.displayName}}" class="circle">
      <div>
    <span class="title">{{post.title}}</span>
      <p>{{post.body | truncateBlog}}
    </p>
      </div>
    </div>
    <i class="small material-icons" (click)="markAsRead('Group', message.fid, group.groupName, currentUser.avatar_url, post.user)">fiber_new</i>
  </li>
    </div>
  </ul>
    </div>


  <h3 style="text-decoration: underline" *ngIf="groupMessagesContainUnreads">Groups</h3>
  <div *ngFor="let group of groupMessages;">
    <h5 style="font-style: italic" *ngIf="group.messages.length !== 0;">{{group.groupName}}</h5>
    <ul class="collection" *ngIf="group.messages.length !== 0;">
    <div *ngFor="let message of group.messages">
    <li class="collection-item avatar" (click)="outerOpenModal(group, message, {type: 'Group', name: group.groupName})">
    <div style="display:inline-block;">
      <img src="{{message.user_avatar}}" alt="{{message.user}}" class="circle">
      <span class="title">{{message.title}}</span>
      <span class="title">{{message.user}}</span>
      <p>{{message.body}}
      </p>
    </div>
    <i class="small material-icons" (click)="markAsRead('Group', message.fid, group.groupName)">fiber_new</i>
  </li>
    </div>
</ul>
  </div>
  </div>



</div>

<div *ngIf="modalStatus">
<app-modal-markdown [currentPost]="currentlySelectedPost" [modalNotifier]= "modalNotifier"></app-modal-markdown>
</div>



