<div class="col-xs-9" id="main-screen">
  <div routerLink="create" class="btn waves-effect waves-light pull-right"><i class="large material-icons">add</i>Create New Post</div>
  <h2>Most Recent Unread Posts</h2>
<!--<ul materialize="collection">-->
  <!--<h3>Team Members</h3>-->

  <!--<li class="collection-item avatar">-->
    <!--<div style="display:inline-block;">-->
    <!--<img src="https://avatars2.githubusercontent.com/u/26396882?s=400&u=b8a70e57d3d5fe7a0ba3e5bd35f6e6484b88ce5c&v=4" alt="" class="circle">-->
    <!--<span class="title">Blog Title</span>-->
      <!--<span class="title">Github Name</span>-->
      <!--<p>Trucated text if it is too long...-->
    <!--</p>-->
    <!--</div>-->
    <!--<a href="#!"><i class="small material-icons">fiber_new</i></a>-->
  <!--</li>-->
  <!--<li class="collection-item avatar">-->
    <!--<div style="display:inline-block;">-->
      <!--<img src="https://avatars2.githubusercontent.com/u/26396882?s=400&u=b8a70e57d3d5fe7a0ba3e5bd35f6e6484b88ce5c&v=4" alt="" class="circle">-->
      <!--<span class="title">Blog Title</span>-->
      <!--<span class="title">Github Name</span>-->
      <!--<p>Trucated text if it is too long...-->
      <!--</p>-->
    <!--</div>-->
    <!--<a href="#!"><i class="small material-icons">fiber_new</i></a>-->
  <!--</li>-->

  <!--<h3>Groups</h3>-->

  <!--<li class="collection-item avatar">-->
    <!--<div style="display:inline-block;">-->
      <!--<img src="https://avatars2.githubusercontent.com/u/26396882?s=400&u=b8a70e57d3d5fe7a0ba3e5bd35f6e6484b88ce5c&v=4" alt="" class="circle">-->
      <!--<span class="title">Blog Title</span>-->
      <!--<span class="title">Github Name</span>-->
      <!--<p>Trucated text if it is too long...-->
      <!--</p>-->
    <!--</div>-->
    <!--<a href="#!"><i class="small material-icons">fiber_new</i></a>-->
  <!--</li>-->
  <!--<li class="collection-item avatar">-->
    <!--<div style="display:inline-block;">-->
      <!--<img src="https://avatars2.githubusercontent.com/u/26396882?s=400&u=b8a70e57d3d5fe7a0ba3e5bd35f6e6484b88ce5c&v=4" alt="" class="circle">-->
      <!--<span class="title">Blog Title</span>-->
      <!--<span class="title">Github Name</span>-->
      <!--<p>Trucated text if it is too long...-->
      <!--</p>-->
    <!--</div>-->
    <!--<a href="#!"><i class="small material-icons">fiber_new</i></a>-->
  <!--</li>-->
<!--</ul>-->
<!--</div>-->
