<div class="container-fluid">
  <div class="col-xs-12" id="mainBar">
    <div>
    <h1 class="pull-left">B</h1>
    <h3 class="pull-left">Blogtastic</h3>
    <p class="clearfix">The blog keeping companies connected on the daily</p>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <p>Blogtastic is designed to help employees express their technical thoughts to their co workers in an easy manner. It allows the user to subscribe to groups and view other users posts.  Simply authorize GitHub to get started using this application.</p>
      <div routerLink="/dashboard" class="waves-effect waves-light btn">Authorize Github</div>
    </div>
  </div>
